@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate-gradient {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

@layer base {
  :root {
    --color-primary: 14 165 233;
  }

  a, button, [role="button"], input, label {
    -webkit-tap-highlight-color: initial;
    tap-highlight-color: initial;
  }
}